* {
    margin: 0;
}

.header {
    background-image: url('img/maui.webp');
    background-size: cover;
    background-position: center center;
    height: 343px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px blue;

}

.visit,
.description {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkblue;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.description {
    width: 412px;
    text-align: center;
}


.main {
    background-color: #c9ecf4;
    height: 478px;
}


.activities-header {
    color: #1D3557;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.activities img {
    height: 220px;
    width: 200px;
    border-radius: 50%;
}

.activities {
    display: flex;
    justify-content: space-around;
}

.activity {
    align-items: center;
    text-align: center;
    width: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.activity h3{
    margin: 15px 15px;
    font-size: 25px;
}

.activity p{
    font-size: 20px;
}

.guide{
    display: flex;
}

.info{
    display: block;
}
.guide img{
    height: 400px;
}