body {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('images/new.jpeg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.slogan{
    margin-top: 5px;
}

.cali-img, .salmon-img{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 20px;

}
.california,.salmon, .tuna{
    display: flex;
    align-items: center;
}

.california-text{
    margin-left: 20px;

}