

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height: 250px;
    width: 200px;
    margin-bottom: -20px;
}

#welcome{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#text-el{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid antiquewhite;
    font-size: 15px;
    background-color: antiquewhite;
    padding: 10px;
}

#button-el{
    width: 430px;
    height: 50px;
    border-radius: 10px;
    background-color:deepskyblue;
    border: 1px solid deepskyblue;
    padding: 10px;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-style: bold;
}

#button-el:hover{
    cursor: pointer;
}