body{
    background-color:  #28282B;
    color:white;
}

.nav-bar{
    display: flex;
    align-items: center;
}

.nav-bar h1 {
    margin-right: auto;
    margin-left: 20px;
}

.nav-bar h1 a{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    margin-right: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.content{
    position: absolute;
    top: 200px;
    left: 10%;
    font-size: 35px;
    max-width: 700px;

}

#profile img{
    position: absolute;
    left: 63%;
    top: 150px;
    height: 450px;
    width: 450px;
}

.contact{
    margin-left: 50px;
}